doctype doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Startup Agency
        link(rel="stylesheet", href="css/style.css")
    body 
        header 
            h1 LOGO 
            img(src="icon/burger.svg", alt="")
            nav 
                ul 
                    li: a(href="#about") ABOUT 
                    li
                        img(src="icon/team.svg", alt="")
                        a(href="#team") TEAM 
                    li
                        img(src="icon/work.svg", alt="")
                        a(href="#work") WORK 
                    li
                        img(src="icon/pricing.svg", alt="")
                        a(href="#pricing") PRICING 
                    li
                        img(src="icon/mail.svg", alt="")
                        a(href="#contact") CONTACT 
        main 
            #hero 
                #texts 
                    h2 Start something that matters 
                    p Stop wasting valuable time with projects that just isn't you.
                    button Learn more and start today 
                #social 
                    img(src="icon/facebook.svg", alt="Logo Facebook")
                    img(src="icon/insta.svg", alt="Logo Instagram")
                    img(src="icon/Pinterest.svg", alt="Logo Pinterest")
                    img(src="icon/Twitter.svg", alt="Logo Twitter")
                    img(src="icon/LinkedIn.svg", alt="Logo LinkedIn")
            section#about 
                h2 About the company 
                h3 Key feature of our company 

                .aboutCard
                    img(src="icon/Desktop.svg", alt="")
                    h3 Responsive 
                    p Lorem ipsum dolor sit, consectetur adipisicing elit. Numquam cum exercitationem mollitia, corrupti esse ratione possimus provident.
                .aboutCard
                    img(src="icon/Heart.svg", alt="")
                    h3 Passion
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum aliquam ut saepe? Esse ea excepturi similique!
                .aboutCard
                    img(src="icon/Gem.svg", alt="")
                    h3 Design 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum aliquam ut saepe? Esse ea excepturi similique!
                .aboutCard
                    img(src="icon/Gear.svg", alt="")
                    h3 Support
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum aliquam ut saepe? Esse ea excepturi similique!
            article#weKnow 
                h2 We know design.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In sit animi laboriosam odio.
                p Adipisicing elit. Vero, nam! 
                button 
                    img(src="icon/work.svg", alt="")
                    p View Our Works
                img(src="img/phone_buildings.jpg", alt="Une photo d'un smartphone prenant en photo des immeubles style NewYorkais")
        footer 